<AuMainHeader @appTitle="Ember & SPARQL">

  {{#if this.auth.isLoggedIn}}

    <p>Welcome back!</p>
    <AuButton
      @skin="link"
      @icon="logout"
      role="menuitem"
      {{on "click" this.logout}}
    >
      Afmelden
    </AuButton>
    <AuButton @skin="link" @icon="account" role="menuitem">
      Account
    </AuButton>

    <LinkTo @route="about" class="menu-about">About</LinkTo>

  {{else}}

    <AuButton @skin="link" @icon="login" {{on "click" this.loginUser}}>
      Aanmelden
    </AuButton>

    <LinkTo @route="about" class="menu-about">About</LinkTo>

  {{/if}}

</AuMainHeader>