<div class="au-o-grid__item au-u-1-2@small">
  <AuCard @textCenter="true" as |c|>
    <c.header @badgeSkin="brand" @badgeIcon="eye">
      <AuHeading @level="3" @skin="4">
        Graph Visualisation
      </AuHeading>

    </c.header>

    <c.content>
      <div {{did-insert this.graphData}}></div>
    </c.content>
    <c.footer />
  </AuCard>
</div>