<div class="au-o-grid__item au-u-1-2@small">
  <AuCard @textCenter="true" as |c|>
    <c.header @badgeSkin="brand" @badgeIcon="draft">
      <AuHeading @level="3" @skin="4">
        SPARQL Query
      </AuHeading>

    </c.header>
    <c.content>

      {{!-- template-lint-disable no-log --}}
      {{log this.query}}

      <AuTextarea width='block' {{on "input" this.updateQuery}} />

    </c.content>
    <c.footer>
      <p>
        <button type="button" {{on "click" this.submitQuery}}>Submit</button>
      </p>
    </c.footer>
  </AuCard>
</div>