{{page-title "QuickstartTS"}}

<AuApp>
  <NavBar />
  <AuMainContainer as |m|>

    <m.content @scroll={{true}}>

      <AuContentHeader
        @titlePartOne="Vlaanderen"
        @titlePartTwo="is lokaal bestuur"
      >

        <img
          size="25px"
          src={{"../assets/images/teaching-tomster.png"}}
          alt="Foto van een laptop met daarop het vlaanderen logo."
        />

      </AuContentHeader>

      <section class="au-o-region-large">

        <div class="au-o-layout">

          <div class="au-o-grid au-o-grid--small">

            <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">

              <AuContent @skin="large">

                <h1>Graph Visualisation</h1>

                <p class="au-c-heading au-c-heading--4">Using SPARQL queries we
                  can query the graph database and convert the JSON results to a
                  data structure suitable for D3 force.</p>

                <p>D3 force allows us to generate custom graph data
                  visualisations. These visuals could be informational,
                  analytical or help in user navigation by making them
                  interactive.
                  <a
                    class="au-c-link"
                    href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer"
                  >gebruikersbeheer Vlaanderen</a>.</p>

                <p>The following are examples of potential use cases for graph
                  visualisations</p>

              </AuContent>

            </div>

            <div
              class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium"
            >

              <AuButton @icon="login" @iconAlignment="left">
                Aanmelden
              </AuButton>

            </div>

          </div>

        </div>

      </section>

      <section class="au-o-region-large au-u-background-gray-200">
        <div class="au-o-layout">
          <AuContent @skin="large" class="au-u-margin-bottom">
            <AuHeading @level="2" @skin="3" class="au-u-margin-bottom">Show
              relatinships with people</AuHeading>
            <p>With an API and using EmberData we can connect to the RDF
              database with a SPARQL query and gather relationships for the
              current user.
              <a
                class="au-c-link"
                href="#!"
                target="_blank"
                rel="noopener noreferrer"
              >Bekijk de handleiding hier.</a></p>
          </AuContent>
          <div class="au-o-grid au-o-grid--small">

            <SparqlQuery::SparqlQuery
              @query="SELECT * WHERE {?s ?p ?o} @limit={{10}}"
            />

            <GraphViz::GraphViz />
          </div>
        </div>

      </section>
      <AuMainFooter>

        <AuHeading @level="3" @skin="4">
          Gelinkt-notuleren.lblod.info is een officiële website van de Vlaamse
          overheid
        </AuHeading>

        <AuContent @skin="small">
          <p>Uitgegeven door
            <a
              class="au-c-link"
              href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur"
            >Agentschap Binnenlands Bestuur</a></p>

          <ul class="au-c-list-horizontal">

            <li class="au-c-list-horizontal__item">

              <AuLink @route="index" @skin="secondary">Disclaimer</AuLink>

            </li>
            <li class="au-c-list-horizontal__item">
              <AuLink @route="index" @skin="secondary">Cookieverklaring</AuLink>
            </li>
          </ul>

        </AuContent>

      </AuMainFooter>

    </m.content>

  </AuMainContainer>
</AuApp>